@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");

.addressmain-container {
  background-color: #f8f8f8;
}
.addressmain-continue-main-button {
  border: none;
  background-color: #ff6f61;
  color: white;
  max-width: 40%;
  min-width: 40%;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  margin-left: 8rem;
  margin-top: 1rem;
  font-family: "Noto Sans", sans-serif;
}

.addressmain-new-address-button {
  color: #ff6f61;
  border: 1px solid #ff6f61;
  background-color: transparent;
  min-width: 40%;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  margin-left: 8rem;
  margin-top: 1rem;
  font-family: "Noto Sans", sans-serif;
}
.addressmain-bottom-main {
  display: flex;
  font-family: "Noto Sans", sans-serif;
  color: #757575;
  font-size: 10px;
  margin: 0;
  width: 40%;
  min-height: 400px;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: space-between;
  margin-left: 8rem;
}
.addressmain-bottom-main-left {
  border-top: 1px solid #c7c7c7;
  bottom: 0;
  color: #757575;
  font-size: 10px;
  margin-top: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  width: 57.33333333%;
}
.addressmain-bottom-main-right {
  border-top: 1px solid #c7c7c7;
  bottom: 0;
  color: #757575;
  font-size: 10px;
  margin-top: 40px;
  width: 40.66666667%;
  padding-left: 16px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
}
.term-condition-text {
  color: #ff6f61;
  text-decoration: none;
}
