.search-bar-main {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(235, 235, 235);
  
}
.search-bar-left-main {
  display: flex;
}
.search-bar-right-main {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.search-bar-location-search {
  background-color: #f1f4f6;
  padding: 0.3rem;
  margin-left: 3rem;
  align-items: center;
  display: flex;
  border-radius: 2px;
  width: 10rem;
  justify-content:space-around;
  text-align: center;
}
.search-bar-drop-down {
  border: none;
  background-color: transparent;
  width: 7rem;
  font-weight: 600;
  outline: none;

}
.search-bar-option {
  /* padding: 4rem; */
  background-color: transparent;
  height: 40px;
}
.search-bar-icons {
  color: #949494;
  margin-bottom: 0.2rem;
}
.search-bar-lightning-icon{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 4rem;
}
.search-bar-icons-lightning {
  color: #9f564f;
  margin-top: 0.7rem;
  font-size: 10px;
}

.search-bar-product-search {
  background-color: #f1f4f6;
  padding: 0.3rem;
  margin-left: 0.2rem;
  width: 35rem;
  border-radius: 2px;
  justify-content:space-between ;
  display: flex;
  align-items: center;
}

.search-bar-search-component {
  background-color: transparent;
  width:20rem;
  border: none;
  font-size: small;
  outline: none;
}

.search-bar-search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-bar-quick-text {
  text-align: right;
  font-size: 14px;
  color: #474747;
  font-weight: 450;
  margin-left: 4rem;
}
.search-bar-quick-button {
    margin-left:0.5rem;
  padding: 0.5rem;
  width: 8.5rem;
  font-size: medium;
  border: none;
  border-radius: 3px;
  background-color: #ff6f61;
  color: white;
  cursor: pointer;
}
